<form class="" action="/listings/new">
  <input type="submit" value="Add New Listing">
</form>
<link rel="stylesheet" href="<%=('/hey.css')%>">
All listings
<% @property.each do |property| %>
<br>
Property name: <%= property.title %>
<br>
Property description: <%= property.description %>
<br>
Property location: <%= property.location %>
<br>
Price per night: £<%= property.price %>/night
<br>
Rooms: <%= property.rooms %>
<br><br>
<% end %>
