<% if !!session[:id] %>
<div class="logout-div" style="float: right; margin-right: 20px; margin-top: 20px;">
  <form class="" action="/session/<%= session[:id] %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="logout" value="Log out" style="width: 90px; height: 40px;">
  </form>
</div>
<% end %>
<form class="" action="/listings/new">
  <input type="submit" value="Add New Listing">
</form>
<link rel="stylesheet" href="<%=('/hey.css')%>">
All listings
<% @property.each do |property| %>
<br>
Property name: <%= property.title %>
<br>
Property description: <%= property.description %>
<br>
Property location: <%= property.location %>
<br>
Price per night: £<%= property.price %>/night
<br>
Rooms: <%= property.rooms %>
<br>
Property provider: <%= property.provider %>
<br><br>
<% end %>
